.u-section-1 .u-sheet-1 {
  min-height: 540px;
}

.u-section-1 .u-image-1 {
  width: 758px;
  height: 238px;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 570px;
  height: 160px;
  margin: -8px auto 0;
}

.u-section-1 .u-image-3 {
  width: 327px;
  height: 60px;
  margin: -265px 265px 60px auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 226px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 4px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 170px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 151px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -257px;
    margin-right: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 107px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 95px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -201px;
    margin-right: 13px;
  }
}@font-face {
  font-family: 'minecraft';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/minecraft.ttf);
}