.u-section-1 .u-sheet-1 {
  min-height: 816px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 204px;
  margin: 0 auto;
}

.u-section-1 .u-image-2 {
  width: 147px;
  height: 52px;
  margin: -83px auto 0 466px;
}

.u-section-1 .u-image-3 {
  width: 570px;
  height: 204px;
  margin: 31px auto 0;
}

.u-section-1 .u-image-4 {
  width: 158px;
  height: 29px;
  margin: -51px 486px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 199px;
  height: 36px;
  margin: 175px auto 0;
}

.u-section-1 .u-image-6 {
  width: 570px;
  height: 204px;
  margin: -189px auto 0;
}

.u-section-1 .u-image-7 {
  width: 570px;
  height: 204px;
  margin: 0 auto;
}

.u-section-1 .u-image-8 {
  width: 149px;
  height: 35px;
  margin: -66px 486px 31px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 772px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 194px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -72px;
    margin-left: 393px;
  }

  .u-section-1 .u-image-3 {
    width: 540px;
    height: 194px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -40px;
    margin-right: 382px;
  }

  .u-section-1 .u-image-6 {
    width: 540px;
    height: 194px;
  }

  .u-section-1 .u-image-7 {
    width: 540px;
    height: 194px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -55px;
    margin-right: 391px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 122px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -1px;
    margin-left: 193px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 122px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 31px;
    margin-right: 182px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 122px;
  }

  .u-section-1 .u-image-7 {
    width: 340px;
    height: 122px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 16px;
    margin-right: 191px;
  }
}@font-face {
  font-family: 'minecraft';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/minecraft.ttf);
}